colgroup{
    background: #131313 ; /* black */
    background-alt: #041F2B ; /* dark blue */
    background-focus: #6C6C85 ; /* pastel purple */
    foreground: #D1D6D1 ;/* light grey */
    foreground-alt: #69859A ; /* light gray */
    color-blue: #0E6E7F ; /* blue */
    color-focus-blue: #4BD7D6 ; /* light blue */
    color-red: #965D62 ; /* red */
}