colgroup{
    
    background: #272727 ; /* dark grey */
    new-background: #131313 ; /* dark green */
    background-alt: #2E3632 ; /* dark green */
    background-focus: #859287 ; /* light green */
    foreground: #D1D6D1 ;/* light grey */
    foreground-alt: #D1D6D1 ; /* light green */
    color-green: #498661 ; /* green */
    color-red: #965D62 ; /* red */
}